.about {
    padding: 80px 0;

    @include lg {
        padding: 100px 0;
    }
}

.about__container {
    @include lg {
        display: grid;
        grid-template-columns: 48% 1fr;
        gap: 40px 20px;
        grid-template-areas:
            'about__title about__title'
            'about__slider about__content';
    }
    @include xl {
        grid-template-rows: min-content 1fr;
        gap: 40px 30px;
        grid-template-areas:
            'about__slider about__title'
            'about__slider about__content';

    }
}
.about__title {
    font-weight: 1000;
    font-size: 32px;
    line-height: 130%;
    text-transform: uppercase;
    color: $second;
    margin-bottom: 24px;

    @include lg {
        font-size: 52px;
        grid-area: about__title;
        margin-bottom: 0;
    }

}
.about__content {
    margin-bottom: 13px;
    background-image: url('../img/paw.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 27px;

    @include md {
        display: grid;
        grid-template-columns: 1fr min-content;
        grid-template-areas:
            'about__description about__count-list'
            'about__link .';
        gap: 24px 92px;
        background-position: right bottom;
    }
    @include lg {
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        gap: 40px;
        margin-bottom: 0;
        padding-bottom: 0;
        grid-area: about__content;
        grid-template-areas:
        'about__description'
        'about__count-list'
        'about__link';
        background-position: center;
        gap: 60px;
    }
}
.about__description {
    margin-bottom: 24px;
    @include md {
        grid-area: about__description;
        margin-bottom: 0;
    }

}
.about__link {
    margin-bottom: 40px;

    @include md {
        grid-area: about__link;
        margin-bottom: 0;
        justify-self: start; // погоризонтали к левому краю
    }
    @include lg {
        align-self: end; //по вертикале к низу
    }
}

.link__main {
}

.about__count-list {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    gap: 20px;
    font-weight: 1000;
    color: $second;
    line-height: 1;

    @include md {
        grid-area: about__count-list;
    }
    @include lg {
        grid-template-columns: repeat(2, 200px);
    }
}

.about__count {
    font-size: 40px;
    margin-bottom: 16px;

    @include lg {
        font-size: 52px;
    }
}
.about__count-desc {
}
.about__picture {
    @include lg {
        grid-area: about__slider;
    }
}
.about__slider {

}
.swiper {
}
.about__image-list {
}
.about__image {
    border-radius: 16px;
}
.swiper-wrapper {
}
.about__image-item {
}
.swiper-slide {
}
.about__image-wrapper {
}
.about__slider-pagination {
}
.swiper-pagination {
}